p{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

body{
    background-color: rgb(178, 218, 233);
}

h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

label{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

select{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(23, 145, 194);
    border-radius: 5px;
}

input{
    width: 345px;
    height: 45px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(23, 145, 194);
    transition-duration: 20ms;
}

input:focus{
    outline: 1px solid rgb(23, 145, 194);
}

button{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin: 5px;
    display: inline;
}

a{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

.main{
    display: flex;
}

.aligncenter{
    text-align: center;
}

.box{
    background-color: rgb(152, 205, 226);
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(40, 104, 129);
    border-left: 8px solid rgb(73, 81, 121);
    color: rgb(7, 11, 22);
    border-radius: 10px;
}

.box-login{
    background-color: rgb(152, 205, 226);
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(40, 104, 129);
    border-left: 8px solid rgb(73, 81, 121);
    color: rgb(7, 11, 22);
    border-radius: 10px;
}

.title{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 0px;
    font-size: 45px;
    color: rgb(0, 28, 111);
}

.desc{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}

.anodeco{
    color: rgb(25, 98, 158);
    text-decoration: none;
}

.anodeco:hover{
    text-decoration: underline;
}

.loginbutton{
    width: 345px;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(86, 95, 143);
    color: rgb(0, 28, 111);
    margin-top: 10px;
    transition-duration: 200ms;
}

.loginbutton:hover{
    background-color: rgb(78, 86, 128);
}

.registerbutton{
    width: 70%;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(225, 200, 153);
    color: rgb(17, 48, 48);
    margin-top: 10px;
    transition-duration: 150ms;
    font-size: 15px;
}

.registerbutton:hover{
    background-color: rgb(221, 193, 140);
}

.navbar-items{
    display: inline;
    float: right;
    padding-right: 10px;
    padding-top: 5px;
}

.navbar{
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: rgb(149, 213, 238);
}

.signbtn{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(100, 177, 207);
    border: none;
    border-radius: 15px;
    width: 100px;
    outline: none;
    transition: 100ms;
}

.signbtn:hover{
    background-color: rgb(152, 205, 226);
}

/* The popup form - hidden by default */
.form-popup {
    background-color: rgb(152, 205, 226);
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    box-shadow: 0px 0px 8px rgb(40, 104, 129);
    border-left: 8px solid rgb(73, 81, 121);
    color: rgb(7, 11, 22);
    border-radius: 10px;
    width: 450px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.name{
    width: 200px;
}

.registerinput{
    width: 414px;
}

.register-text{
    text-align: left;
    margin-left: 16px;
}

.btna{
    margin: 10px;
    padding: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(26, 86, 175);
}

.btna:hover{
    text-decoration: underline;
}

.selectbday{
    width: 130px;
    margin: 4px;
    padding: 5px;
    font-size: 15px;
}

@media (max-width: 500px) {
    .box{
        width: 340px;
    }
    .desc{
        font-size: 16px;
        line-height: 22px;
    }
    .box-login{
        width: 340px;
    }
    input{
        width: 280px;
        font-size: 16px;
    }
    .loginbutton{
        width: 280px;
    }
    .registerbutton{
        font-size: 13px;
    }
}