
  <div class="center-box">
    <div class="box">
      <p class="title">4mat</p>
      <p class="desc">Dobrodošli na 4mat, stranica napravljena za slobodno izražavanje i kreativnost.</p>
      <p class="desc">Web stranica je kreirana putem NodeJS-a</p>
    </div>
  </div>
