  <div class="container mt-1">
    <h1>Najnovije</h1>
    <div class="row mt-4">
      <div class="col-xl">
        <div class="main-hot-box">
          <img src="images/img_9124.jpg" alt="4mat" class="main-image-hot">
          <h1>test</h1>
          <p>content</p>
        </div>
      </div>
      <div class="col">
        <div class="row main-hot-row">
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
        </div>
        <div class="row main-hot-row">
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>