  <div class="container mt-1">
    <h1>Najnovije</h1>
    <div class="row mt-4">
      <div class="col-xl">
        <div class="main-hot-box">
          <img src="images/img_9124.jpg" alt="4mat" class="main-image-hot">
          <h1>Title1</h1>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quod rerum corporis corrupti laboriosam veniam repellendus nobis officiis necessitatibus, dolorem odio dicta rem! Est tenetur quaerat perspiciatis ab dolore explicabo dolorem!</p>
        </div>
      </div>
      <div class="col">
        <div class="row main-hot-row">
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>Title2</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt vitae, sequi distinctio sed nisi soluta! Ad architecto laudantium necessitatibus accusamus corporis amet expedita soluta. Expedita modi ab aut aperiam officia.</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>Title3</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quidem tempore accusantium id consequatur deleniti quaerat perspiciatis facilis voluptatibus aperiam doloremque blanditiis cum sequi deserunt incidunt, perferendis repellendus? Tenetur, similique?</p>
            </div>
          </div>
        </div>
        <div class="row main-hot-row">
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>Title4</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Impedit earum fugiat vero officia sapiente assumenda, esse cum dolores? Libero obcaecati itaque eligendi exercitationem aut natus recusandae, optio perferendis repellendus aliquam?</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/4mat.png" alt="4mat" class="main-image">
              <h1>Title5</h1>
              <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima ab, id rerum et quibusdam sint perferendis quidem magnam quaerat! Eius repellendus id temporibus a ut pariatur vero minima incidunt voluptatibus.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>