<div class="center-box">
  <div class="box-login" id="login">
    <p class="title">Prijava</p>
    <% include('../partials/messages') %>
    <form action="/users/login" method="POST">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          class=""
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          class=""
          placeholder="Lozinka"
        />
      </div>
      <button type="submit" class="loginbutton">Login</button>
    </form>
    <p class="mt-4">
      Nemate raÄun? <a href="/register">Registrirajte se</a>
    </p>
  </div>
</div>
