<div class="center-box">
  <div class="box-login" id="login">
    <p class="title">Prijava</p>
    <% include('../partials/messages') %>
    <form action="/users/login" method="POST">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          class=""
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          class=""
          placeholder="Lozinka"
        />
      </div>
      <button type="submit" class="loginbutton">Prijavi se</button>
    </form>
    <div class="aligncenter">
      <a class="anodeco" href="">Zaboravili ste lozinku?</a>
      <hr>
      <button onclick=document.location="/register" class="registerbutton">Registriraj se</button>
    </div>
  </div>
</div>
