<div class="center-box">
  <div class="box-login" id="login">
    <p class="title">Login</p>
    <%- include('../partials/messages') %>
    <form action="/login" method="POST">
      <div class="form-group">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="Email"
        />
      </div>
      <div class="form-group">
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Password"
        />
      </div>
      <button type="submit" class="loginbutton">Login</button>
    </form>
    <div class="aligncenter">
      <a class="anodeco" href="">Forgot password?</a>
      <hr>
      <button onclick=document.location="/register" class="registerbutton">Register</button>
    </div>
  </div>
</div>
