<div class="center-box">
  <div class="new-post-card">
    <h1>Novi post</h1>
    <input type="text" class="form-control" placeholder="Naslov" aria-label="Username" style="margin: 0;"> <br>
    <textarea class="form-control" aria-label="With textarea" style="height: 100px;"></textarea>
  </div>
</div>