<div class="center-box">
  <div class="box-news">
    <input type="text" class="" placeholder="Naslov" aria-label="Username"> <br>
    <input type="text" class="" placeholder="Opis" aria-label="Username">
  </div>
</div>