<div class="center-box">
  <div class="new-post-card">
    <h1 class="title" >Novi post</h1>
    <input type="text" class="form-control" placeholder="Naslov" aria-label="Username" style="margin: 0; margin-bottom: 10px;">
    <textarea class="form-control" aria-label="With textarea" style="height: 200px;" placeholder="Tekst"></textarea>
    <div style="text-align: right;">
      <button type="submit" class="loginbutton" style="margin: 10px 0px; width: 40%;">Submit</button>
    </div>
  </div>
</div>