  <div class="container">
    <button type="button" class="btn btn-primary" onclick=document.location="/new-post">New post</button>
    <div class="row mt-4">
      <div class="col-xl">
        <div class="main-hot-box">
          <img src="images/img_9124.jpg" alt="image" class="main-image-hot">
          <h1>test</h1>
          <p>content</p>
        </div>
      </div>
      <div class="col">
        <div class="row main-hot-row">
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/icon.png" alt="image" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/icon.png" alt="image" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
        </div>
        <div class="row main-hot-row">
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/icon.png" alt="image" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
          <div class="col-sm">
            <div class="main-hot-box">
              <img src="images/icon.png" alt="image" class="main-image">
              <h1>test</h1>
              <p>content</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row news-row">
      <div class="col m-2">
        <div class="box-news" style="cursor: pointer;" onclick=document.location="/news-template">
          <p class="news-title">Title</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">Title</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">Title</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
    </div>
    <div class="row news-row">
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">Title</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">Title</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">Title</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
    </div>
  </div>