  <div class="container-sm">
    <img src="images/4mat.png" alt="" class="news-image-article">
    <p class="title">4mat</p>
    <p class="news-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores inventore dignissimos deleniti fugit ipsum assumenda vitae. Sed nesciunt minima nisi soluta quia commodi possimus animi blanditiis magnam, aliquid beatae officia?</p>
  </div>