  <div class="container">
    <div class="profile-card">
      <div>
        <h2>Username</h2>
        <hr>
        <p class="profile-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere corrupti minima impedit reiciendis? Exercitationem fugiat saepe quod blanditiis, eius nisi ipsum excepturi sapiente repellendus accusantium, itaque similique deserunt eaque omnis.</p>
        <div class="profile-icons">
          <a href=""><i class="bi bi-instagram" style="font-size: 20px; vertical-align: -0.36em;"></i></a>
          <a href=""><i class="bi bi-envelope" style="font-size: 24px;"></i></a>
          <a href=""></a>
        </div>
      </div>
    </div>
  </div>
  <!--This was planned to be template profile for other users what will they see when they visit someone elses profile-->