@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

p{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

body{
    background-color: rgb(241, 241, 241);
}

h1{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

h2{
    font-size: 36px;
    font-weight: 600;
}

label{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
    padding: 5px;
    text-align: left;
}

select{
    font-family: 'Be Vietnam Pro', sans-serif;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
}

input{
    width: 345px;
    height: 45px;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgb(192, 192, 192);
    transition-duration: 20ms;
}

input:focus{
    outline: 1px solid rgb(23, 145, 194);
}

button{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 16px;
    margin: 5px;
    display: inline;
}

a{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 5px;
}

span{
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(0, 0, 0);
}

.main{
    display: flex;
}

.aligncenter{
    text-align: center;
}

.box{
    display: block;
    background-color: rgb(255, 255, 255);
    max-width: 500px;
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(102, 102, 102);
    border-left: 8px solid rgb(106, 48, 172);
    color: rgb(7, 11, 22);
    border-radius: 10px;
    height: fit-content;
    margin: 0px;
}

.box-login{
    display: block;
    background-color: rgb(255, 255, 255);
    width: 400px;
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(156, 156, 156);
    border-left: 8px solid rgb(73, 81, 121);
    color: rgb(7, 11, 22);
    border-radius: 10px;
}

.title{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 0px;
    font-size: 45px;
    color: rgb(0, 28, 111);
}

.desc{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 20px;
    font-weight: normal;
    line-height: 32px;
}

.anodeco{
    color: rgb(25, 98, 158);
    text-decoration: none;
    margin: 0;
}

.anodeco:hover{
    text-decoration: underline;
}

.loginbutton{
    width: 345px;
    font-weight: bold;
    font-size: 18px;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(53, 65, 145, 0.9);
    color: rgb(255, 255, 255);
    margin-top: 10px;
    transition-duration: 200ms;
}

.loginbutton:hover{
    background-color: rgb(53, 65, 145);
}

.registerbutton{
    width: 70%;
    font-weight: bold;
    padding: 10px;
    border: 0px;
    border-radius: 5px;
    background-color: rgba(100, 209, 78, 0.9);
    color: rgb(17, 48, 48);
    margin-top: 10px;
    transition-duration: 200ms;
    font-size: 14px;
}

.registerbutton:hover{
    background-color: rgb(93, 182, 75);
}

/* The popup form - hidden by default */
.form-popup {
    background-color: rgb(255, 255, 255);
    display: none;
    padding: 0;
    box-shadow: 0px 0px 8px rgb(156, 156, 156);;
    border-left: 8px solid rgb(73, 81, 121);
    color: rgb(7, 11, 22);
    border-radius: 10px;
    width: 450px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.name{
    width: 200px;
}

.registerinput{
    width: 414px;
}

.register-text{
    text-align: left;
    margin-left: 16px;
}

.btna{
    margin: 10px;
    padding: 10px;
    font-family: 'Be Vietnam Pro', sans-serif;
    color: rgb(26, 86, 175);
}

.btna:hover{
    text-decoration: underline;
}

.selectbday{
    width: 130px;
    margin: 4px;
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: rgb(223, 223, 223);
    margin: 6px 0;
    transition: 450ms;
    border-radius: 2px;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
    background-color: rgb(221, 51, 51);
}
  
.change .bar2 {
    opacity: 0;
}
  
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
    background-color: rgb(221, 51, 51);
}

.containernav{
    display: inline-block;
    position: fixed;
    top: 0;
    margin-left: 10px;
    margin-top: 14px;
    cursor: pointer;
    z-index: 2;
    transition: padding 530ms;
}

.containernav-move{
    padding-left: 160px;
}

.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(14, 32, 109);
    overflow-x: hidden;
    transition: 500ms;
    padding-top: 65px;
}

.sidenavexpand{
    width: 240px;
}

.hrnav{
    background-color: rgb(178, 218, 233);
    opacity: 0.5;
    margin-right: 10px;
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: rgb(255, 255, 255);
    display: block;
    transition: 300ms;
}

.sidenav a:hover{
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
}

.sidenav .current{
    background-color: rgb(0, 54, 218);
    border-radius: 5px;
}

.signin{
    margin-top: 10px;
    margin-right: 10px;
    text-align: right;
}

.bi{
    display: inline-block;
    vertical-align: -0.24em;
}

.box-news{
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    color: rgb(7, 11, 22);
    border-radius: 10px;
    min-width: 250px
}

.news-title{
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 0px;
    font-size: 30px;
    line-height: 34px;
    color: rgb(0, 28, 111);
}

.news-image{
    width: 100%;
    border-radius: 5px;
}

.news-image-article{
    width: 25%;
}

.news-text{
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.news-row{
    min-height: 220px;
}

.genderspan{
    display: flex;
    flex-wrap: wrap;
    width: 425px;
    margin-top: 0;
    margin-left: 9px;
}

.gender{
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(192, 192, 192);
    display: inline-block;
    box-sizing: border-box;
    flex: 1 0 auto;
    font-weight: normal;
    height: 36px;
    text-align: left;
    width: auto;
    position: relative;
    margin: 8px 6px 6px;
    padding: 0px;
    font-size: 15px;
    border-radius: 5px;
}

.gender-label{
    cursor: pointer;
    box-sizing: border-box;
    display: inline-block;
    font-size: 15px;
    line-height: 25px;
    padding: 0 20px 0 10px;
    width: 93%;
}

.genderselect{
    cursor: pointer;
    height: 36px;
    width: 14px;
    margin: 0;
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
}

.genderselect:focus{
    outline: none;
}

.container-sm{
    padding: 50px;
}

.mainicon{
    margin-top: 8px;
    text-align: center;
}

.mainicon-img{
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar{
    background-color: rgb(32, 51, 136);
    padding: 0 0 8px 0;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: .1rem solid rgba(0, 0, 0, 0.151);
    box-shadow: 0 0px 14px rgb(141, 141, 141);
    z-index: 1;
}

.center-box{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-icons{
    display: flex;
    justify-content: center;
}

.profile-card{
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 50%;
    padding: 20px;
    box-shadow: 0px 0px 8px rgb(102, 102, 102);
    border-left: 8px solid rgb(106, 48, 172);
    color: rgb(7, 11, 22);
    border-radius: 10px;
    height: fit-content;
}

.profile-picture{
    width: 50px;
    height: 50px;
}

.profile-desc{
    font-size: 16px;
}

.main-hot-box{
    display: block;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0px 0px 6px rgb(197, 197, 197);
    border: 1px solid rgb(196, 196, 196);
    color: rgb(7, 11, 22);
    border-radius: 10px;
    height: fit-content;
    margin: 5px;
}

.main-hot-row{
    height: 50%;
}

.main-image{
    width: 100%;
    max-height: 200px;
    object-fit: contain;
}

.main-image-hot{
    width: 100%;
    max-height: 420px;
    object-fit: contain;
}

@media (max-width:990px) {
    .box-no-center{
        width: 380px;
    }
    .profile-card{
        width: 70%;
    }
}

@media (max-width:766px){
    .profile-card{
        width: 100%;
        text-align: center;
        padding: 10px;
    }
}

@media (max-width: 500px) {
    .box{
        width: 340px;
    }
    .desc{
        font-size: 16px;
        line-height: 22px;
    }
    .box-login{
        width: 340px;
    }
    input{
        width: 280px;
        font-size: 16px;
    }
    .loginbutton{
        width: 280px;
    }
    .registerbutton{
        font-size: 14px;
        font-weight: 500;
    }
    .form-popup{
        width: 350px;
    }
    .name{
        width: 150px;
    }
    .registerinput{
        width: 314px;
    }
    h2{
        font-size: 34px;
        margin-left: 1px;
    }
    .selectbday{
        width: 96px;
    }
    .news-image{
        width: 100%;
    }
    .box-no-center{
        width: 350px;
    }
    .genderspan{
        width: 324px;
    }
    .genderselect{
        width: 20px;
        transform: scale();
        -webkit-transform: scale(0.6,0.6);
        right: 5px;
    }
    .box-login{
        box-shadow: none;
        border: 0;
    }
    .form-popup{
        box-shadow: none;
        border: 0;
    }
    .genderspan{
        margin-left: 13px;
    }
    .container-sm{
        padding: 10px;
    }
    .news-text{
        font-family: 'Be Vietnam Pro', sans-serif;
        font-size: 17px;
        font-weight: normal;
        line-height: 28px;
    }
    .news-image-article{
        width: 80%;
    }
    .col-2{
        padding: 0;
    }
    .sidenavexpand{
        width: 100%;
    }
    .containernav-move{
        padding-left: 0;
        padding-left: 80vw;
    }
}

@media (max-width:390px) {
    .box-no-center{
        width: 320px;
    }
    .signin{
        margin-right: 0px;
    }
    .form-popup{
        width: 340px;
    }
    .genderspan{
        margin-left: 9px;
    }
}

@media (max-width:360px) {
    .box-no-center{
        width: 300px;
    }
}