<!DOCTYPE html>
<html lang="hr">
<head>
  <%- include('../partials/head') %>
</head>
<body class="d-flex flex-column min-vh-100">
  <%- include('../partials/nav') %>
  <div class="center-box">
    <div class="box">
      <p class="title">4mat</p>
      <p class="desc">Dobrodošli na 4mat, stranica kreirana za slobodno izražavanje i kreativnost.</p>
      <p class="desc mb-0">Kreirali:</p>
      <p class="desc mt-0 mb-0">Antonio - frontend</p>
      <p class="desc mt-0">Ivan - backend</p>
    </div>
  </div>
  <footer class="mt-auto">
    <div class="container">
      <p style="font-weight:500;">© 2022 4mat</p>
    </div>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script language="JavaScript" type="text/javascript" src="js/jQuery.js"></script>
  <script language="JavaScript" type="text/javascript" src="js/4mat.js"></script>
</body>
</html>