<!DOCTYPE html>
<html lang="hr">
<head>
  <%- include('../partials/head') %>
</head>
<body class="d-flex flex-column min-vh-100 css-selector">
  <%- include('../partials/nav') %>
  <div class="center-box">
    <div class="box">
      <p class="title">4mat</p>
      <p class="desc">Dobrodošli na 4mat, stranica napravljena za slobodno izražavanje i kreativnost.</p>
      <p class="desc mb-0">Kreirali:</p>
      <p class="desc mt-0 mb-0">Antonio</p>
      <p class="desc mt-0">Ivan</p>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>