<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head') %>
</head>
<body class="d-flex flex-column min-vh-100">
  <%- include('../partials/nav') %>
  <div class="container">
    <div class="row news-row">
      <div class="col m-2">
        <div class="box-news" style="cursor: pointer;" onclick=document.location="/news-template">
          <p class="news-title">4mat</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">4mat</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">4mat</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
    </div>
    <div class="row news-row">
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">4mat</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">4mat</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
      <div class="col m-2">
        <div class="box-news">
          <p class="news-title">4mat</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, eligendi sit officia beatae odio alias? Ipsum dolore quibusdam in nesciunt eius blanditiis nemo, aspernatur veniam rem labore, atque incidunt assumenda.</p>
        </div>
      </div>
    </div>
  </div>
  <%- include('../partials/footer') %>
</body>
</html>